/* Write your CSS code here */
.loader-blog-list-container {
  display: flex;
  justify-content: center;
}

.blog-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

@media (min-width: 768px) {
  .blog-list {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .blog-list {
    width: 70%;
  }
}
